// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnTwitterBackground:              #2daddc;
$btnTwitterBackgroundHighlight:     #0271bf;
$btnGooglePlusBackground:           #dd4b39;
$btnGooglePlusBackgroundHighlight:  #c53727;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-twitter {
  @include button-variant($btnText, $btnTwitterBackground, $btnTwitterBackgroundHighlight);
}
.btn-google-plus {
  @include button-variant($btnText, $btnGooglePlusBackground, $btnGooglePlusBackgroundHighlight);
}
.btn-github {
  @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}

h1 {
  text-align: center;
}

h3 {
  color: $red;
  text-align: center;
}

.loginInput {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 1.5em;
  border-radius: 0;
  background: white;
  box-shadow: none;
  margin-bottom: 1%;
  color: $red;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  &:focus {
    border-bottom: 1px solid black;
  }
}

input:focus {
  outline: none;
}

.loginBtn{
  color: black;
  border: 1px solid black;
  border-radius: 0;
  background: white;
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;

  &:hover {
    border: 1px solid $red;
    color: $red;
    background: white;
  }

  &.social {
    width: 42%;
    margin-top: 1%;
  }
}

.btnContainer {
  margin-left: 28%;
}

@media screen and (max-width: 768px) {
  #stackedBtn {
    width: 50%;
    margin-bottom: 2%;
  }

  #smlSocialBtn {
    width: 57%;
    margin-left: -3%;
    font-size: .75em;
  }
}
