<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
  <header class="col-md-6 col-lg-6 col-sm-6 col-lg-offset-3">
    <div class="container">
      <h1>TICKETS</h1>
    </div>
  </header>

  <!-- <form action="/createbet">
    <input class="col-md-5 col-lg-5 col-sm-5" type="submit" value="Create Bet">
  </form> -->

  <a href="/createbet" class="createBet col-md-2 col-lg-2 col-sm-2"><h2>Create Bet</h2></a>

<!-- challenge bets -->
    <ul class="nav col-md-12 col-lg-12 col-sm-12" ng-repeat="bet in todaysBets | filter : {user2: getCurrentUser().name}">
      <li><h5>{{bet.user1}} wants to bet:</h5></li>
      <li><h4>${{bet.wager}}</h4></li>

      <a class="col-md-4 col-lg-4 col-sm-4" ng-click="deleteBet(bet)">Reject Bet</a>

      <a class="col-md-4 col-lg-4 col-sm-4" href="/makepicks/{{bet._id}}">Accept Bet</a>
    </ul>

<!-- accepted bets user1-->
    <ul class="nav col-md-12 col-lg-12 col-sm-12 col-lg-offset-3" ng-repeat="bet in acceptedBets | filter : {user1: getCurrentUser().name}">
      <li><h5>{{bet.user2}} accepted your bet for ${{bet.wager}}<h5></li>
    </ul>

<!-- accepted bets user2-->
    <ul class="nav col-md-12 col-lg-12 col-sm-12 col-lg-offset-3" ng-repeat="bet in acceptedBets | filter : {user2: getCurrentUser().name}">
      <li><h5>You accepted a bet with {{bet.user1}} for ${{bet.wager}}<h5></li>
    </ul>


<!-- pending bets-->
    <ul class="nav col-md-12 col-lg-12 col-sm-12 col-lg-offset-3" ng-repeat="bet in todaysBets | filter : {user1: getCurrentUser().name}">
      <li><h5>Pending bet with {{bet.user2}} for ${{bet.wager}}<h5></li>
        <!-- <a class="col-md-4 col-lg-4 col-sm-4" ng-click="deleteBet(bet)">Reject Bet</a> -->
    </ul>

<!-- bet feed -->
  <div class="nav col-md-10 col-lg-10 col-sm-10 col-lg-offset-2" ng-repeat="bet in completedBets">
    <h5>{{bet.date}}</h5>
    <h4 class="col-md-1 col-lg-1 col-sm-1">{{bet.winner}}</h4> <h5 class="col-md-1 col-lg-1 col-sm-1">beat</h5> <h4 class="col-md-2 col-lg-2 col-sm-2">{{bet.loser}}</h4> <h5 class="col-md-1 col-lg-1 col-sm-1">for</h5> <h4 class="col-md-1 col-lg-1 col-sm-1">${{bet.wager}}</h4>
    <!-- <a class="col-md-4 col-lg-4 col-sm-4" ng-click="deleteBet(bet)">Reject Bet</a> -->

    <!-- comment form -->
    <div class="FeedcommentCtrl" ng-controller="FeedcommentCtrl as feedComments">
    <div class="commentForm col-md-6 col-lg-6 col-sm-6">
      <button name="addComment" ng-click="clicked = !clicked">Add Comment</button>
      <form class="thing-form" ng-show="clicked">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newFeedComment">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" rel="{{bet._id}}" ng-click="addFeedComment(newFeedComment, bet._id)">Add New</button>
          </span>
        </p>

        <!-- comments -->
        <ul class="nav nav-tabs nav-stacked col-md-6 col-lg-6 col-sm-6" ng-repeat="feedComment in awesomeFeedComments | filter : {bet: bet._id} : true">
          <li><a href="#">{{feedComment.comment}}<button type="button" class="close" ng-click="deleteFeedComment(feedComment)">&times;</button></a></li>
        </ul>
      </form>

    </div>
  </div>
  </div>

</div>
