$blue: #0046AD;
$red: #D0103A;

.createBet {
  padding: 0;
  margin-top: 6px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 4px;
  background: $red;
  text-align: center;
  line-height: 0px;
  color: #fff;
  border-radius: 10px;

  h2 {
    line-height: 0;
    padding: 3%;
    padding-bottom: 5%;
  }

  &:hover {
    background: #fff;
    color: $red;
    border: 1px solid $red;
    text-decoration: none;
    padding-bottom: 2px;
  }
}

.acceptReject {
  cursor: pointer;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}

.nav-tab{
  cursor: pointer;
  border: 1px solid #0046AD;
  background: #fff;
  margin-top: 1%;
}

.nav-pills > li.active > a{
      border-radius: 0px;
      background: $blue;

      &:hover {
        background: $blue;
      }
}


.allBetsHeader {
  color: $red;
}

.betCard {
  border: 1px solid $red;
  margin-bottom: 3%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .comments{
    color: gray;
    border-top: 1px dashed black;
    width: 80%;
  }
}

.notificationCard {
  border-radius: 5px;

  h5, a {
    text-align: center;
  }
}

.pendingBets, .acceptedBets, .challengeBets {
  background: ghostwhite;
  cursor: default;
}

.pendingBets {
  color: orange;
}

.acceptedBets {
  color: green;
}

.challengeBets{

}

.betDate {
  margin-left: 2%;
  font-size: .9em;
}

.challengeTab {
  color: red;
}

.fa-close {
  margin-left: 3%;
  cursor: pointer;
}

// comments
.addComment {
  border: 1px solid #fff;
  color: $red;
  background: #fff;
  margin-bottom: 10px;

  &:hover {
    border: 1px solid $red;
  }
}

.commentInput {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 1.5em;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  margin-bottom: 1%;
  color: $red;

  &:focus {
    outline: 0;
    border-bottom: 1px solid black;
  }
}

.commentSubmit{
  margin-left: 2%;
  height: 30px;
  color: $red;;
  border: none;
  border-radius: 0;
  margin-bottom: 1%;
  font-size: 1.3em;
  background: #fff;
  border: 1px solid #fff;

  &:hover {
    border: 1px solid $red;
  }
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: 20%;
}

// NAV BAR
.navbar-static-top {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.logo {
  color: $red;
  margin-bottom: 1%;
  padding-bottom: 3px;

  &:hover {
    text-decoration: none;
    border-bottom: 3px dashed $blue;
    color: $red;
    padding-bottom: 0px;

  }
}

.navbar-nav > li > a {
  margin-top: 15px;
  color: $red;
  font-size: 1.2em;
  border-bottom: 2px solid #fff;

  &:hover {
    border-bottom: 2px dashed $blue;
    background: #fff;
  }
}

.icon-bar {
  background: $red;
}
