$blue: #0046AD;
$red: #D0103A;

.createBet {
  padding: 0;
  margin-top: 6px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 4px;
  background: $red;
  text-align: center;
  line-height: 0px;
  color: ghostwhite;
  border-radius: 10px;

  h2 {
    line-height: 0;
    padding: 3%;
    padding-bottom: 5%;
  }

  &:hover {
    background: ghostwhite;
    color: $red;
    border: 1px solid $red;
    text-decoration: none;
    padding-bottom: 2px;
  }
}

.acceptReject {
  cursor: pointer;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}

.nav-tab{
  cursor: pointer;
  border: 1px solid #0046AD;
  background: ghostwhite;
  margin-top: 1%;
}

.nav-pills > li.active > a{
      border-radius: 0px;
      background: $blue;

      &:hover {
        background: $blue;
      }
}


.allBetsHeader {
  color: $red;
}

.betCard {
  border: 1px solid $red;
  margin-bottom: 3%;
  border-radius: 5px;
  background: ghostwhite;
  box-shadow: 1px 1px 10px #888888;

  .comments{
    color: gray;
    border-top: 1px dashed black;
    width: 80%;
  }
}

.notificationCard {
  border-radius: 5px;

  h5, a {
    text-align: center;
  }
}

.pendingBets, .acceptedBets, .challengeBets {
  background: ghostwhite;
}

.pendingBets {
  color: orange;
}

.acceptedBets {
  color: green;
}

.challengeBets{

}

.betDate {
  margin-left: 2%;
}

.challengeTab {
  color: red;
}

// comments
.addComment {
  border: 1px solid $red;
  color: $red;
  background: white;
  margin-bottom: 10px;
}

.commentInput {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 1.5em;
  border-radius: 0;
  background: ghostwhite;
  box-shadow: none;
  margin-bottom: 1%;
  color: $red;

  &:focus {
    outline: 0;
    border-bottom: 1px solid black;
  }
}

.commentSubmit{
  height: 30px;
  color: black;
  border: 1px solid black;
  border-radius: 0;
  background: white;
  margin-bottom: 1%;

  &:hover {
    border: 1px solid $red;
    color: $red;
    background: white;
  }
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: 20%;
}

// NAV BAR
.navbar-static-top {
  box-shadow: 1px 1px 10px #888888;
}

.logo {
  color: $red;
  margin-bottom: 1%;

  &:hover {
    text-decoration: none;
    border-bottom: 3px dashed $blue;
    color: $red;
  }
}

.icon-bar {
  background: $red;
}
