<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="UserlistCtrl" ng-controller="UserlistCtrl as userlist">
        <!-- left side -->
    <div class="leftSide col-lg-6">
        <h1 ng-model="selectedItem" name="template_name" class="col-md-12">I want to bet {{template.template_name}}</h1>
        <h1 class="col-md-12">${{betAmount}}</h1>

    </div>

    <!-- right side -->
    <div class="rightSide col-lg-6">
        <input class='filterBar col-md-12 col-lg-12 col-sm-12' type="text" placeholder="filter users" ng-model="filterUsers"></input>

        <ul class='usersList col-md-12 col-lg-12 col-sm-12'>
          <li class="indivUser" ng-repeat="user in users | filter : filterUsers" ng-click="setValue(user)"><h4>{{user.name}}</h4></li>
        </ul>

      <input class='betBar col-md-12 col-lg-12 col-sm-12' type="text" placeholder="bet amount" ng-model="betAmount"></input>
      <form action="/feed">
        <input class='submitButton col-md-12 col-lg-12 col-sm-12' type="submit" value="Send Bet" ng-click='addBet(template.template_name, betAmount)'>
      </form>
    </div>
    </div>
  </div>
</div>
</div>
