.rightSide, .leftSide {
  margin-top: 5%;
}

.leftSide h3 {

}

.usersList {
  cursor: pointer;
  list-style-type: none;

  .indivUser {
    border-bottom: 1px dashed $red;
    text-align: center;
  }
}

.filterBar, .betBar {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  font-size: 1.5em;

  &:focus {
    outline: 0;
    border-bottom: 1px solid black;
  }
}

.filterBar {
  margin-bottom: 5%;
  color: $red;
}

.submitButton {
  height: 30px;
  border: 1px solid #fff;
  background: white;
  font-size: 1.3em;

  &:hover {
    border: 1px solid $red;
    color: $red;
  }
}

.betBar, .submitButton {
  margin-top: 5%;
}

.betBar {
  color: $red;
}
