// .thing-form {
//     margin: 20px 0;
// }
//
// #banner {
//     border-bottom: none;
//     margin-top: -20px;
// }
//
// #banner h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
// }
//
// .hero-unit {
//     position: relative;
//     padding: 30px 15px;
//     color: #F5F5F5;
//     text-align: center;
//     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
//     background: #4393B9;
// }
//
// .footer {
//     text-align: center;
//     padding: 30px 0;
//     margin-top: 70px;
//     border-top: 1px solid #E5E5E5;
// }

.header {
  text-align: center;
}

.game {
  cursor: pointer;
  color: red;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin-bottom: 2px;

  &:hover {
    color: limegreen;
    border: 1px solid limegreen;
    border-radius: 10px;
    margin-bottom: 0;
  }
}

.location {
  text-align: center;
  margin-top: 1%;
  padding-bottom: 2%;
}

.findOpponent, .submitPicks {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;


  &:hover {
    text-decoration: none;
    color: $red;
  }
}

.nav-tabs {
  border: none;
}

.gameComments {
  margin-top: 5%;

  li {
  font-size: 1.75em;
  border-bottom: 1px dashed black;
  }
}
