<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>The 700 Section</h1>
    <!-- <p class="lead">The 700 Section</p> -->
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 left">
      <h1 class="page-header">Scoreboard</h1>
      <div class="gamesCtrl" ng-controller="GameCtrl as awesomeGames">
        <div class="PicksCtrl" ng-controller="PickCtrl as picks">

          <button name="button" ng-click="checkPicks()">Check Picks</button>
          <button name="button" ng-click="addPicks()">Submit Picks</button>

        <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" rel="{{game.event_id}}" ng-repeat="game in awesomeGames">
          <li><a ng-click="makePick(game.away_team.abbreviation, game.event_id)">{{game.away_team.abbreviation}}</a> @ <a ng-click="makePick(game.home_team.abbreviation, game.event_id)">{{game.home_team.abbreviation}}</a></li>
          <!-- <li><a href="#" tooltip="{{game.sport}}">{{game.away_points_scored}} - {{game.home_points_scored}}</a></li> -->
          <li>{{game.site.name}} {{game.site.city}}</li>

          <!-- comment form -->
          <div class="commentForm">
            <button name="addComment" ng-click="clicked = !clicked">Add Comment</button>
            <form class="thing-form" ng-show="clicked">
              <label>Syncs in realtime across clients</label>
              <p class="input-group">
                <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary" rel="{{game.event_id}}" ng-click="addThing(newThing, game.event_id)">Add New</button>
                </span>
              </p>

              <!-- comments -->
              <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in awesomeThings | filter : {game: game.event_id} : true">
                <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
              </ul>
            </form>

          </div>
        </ul>
      </div>
    </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Bantr |
        <a href="https://twitter.com/tylercecchi">@tylercecchi</a> |
  </div>
</footer>
