<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
<!-- Start Bets -->
    <div class="col-lg-12">
    <div class="BetCtrl" ng-controller="BetCtrl as bets">

<!-- Start Games -->
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1 class="header col-md-12">Today's Games</h1>
      <div class="gamesCtrl" ng-controller="GameCtrl as awesomeGames">
        <div class="PicksCtrl" ng-controller="PickCtrl as picks">

          <!-- <button name="button" ng-click="checkUser1Picks();checkUser2Picks()">Check Picks</button> -->

      <div class="row">
        <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" rel="{{game.event_id}}" ng-repeat="game in awesomeGames" ng-class="{'last':$last}">
         <div ng-if="game_index == $index">
          <li class='game col-md-2 col-lg-2 col-sm-2 col-sm-offset-3 col-md-offset-3 col-lg-offset-3' ng-click="makePick(game.away_team.abbreviation, game.event_id);next()"><h1>{{game.away_team.abbreviation}}</h1></li>
          <li class='game col-md-2 col-lg-2 col-sm-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2' ng-click="makePick(game.home_team.abbreviation, game.event_id);next()"><h1>{{game.home_team.abbreviation}}</h1></li>

          <li class='location col-md-8 col-lg-8 col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2'><h4>{{game.site.name}} {{game.site.city}}</h4></li>


          <!-- comment form -->
          <div class="commentForm col-md-6 col-lg-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
            <button class="addComment col-md-6 col-lg-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3" name="addComment" ng-click="clicked = !clicked">Add Comment</button>
            <form class="thing-form col-md-12 col-lg-12 col-sm-12" ng-show="clicked">
              <!-- <p class="input-group col-md-12 col-lg-12 col-sm-12"> -->
                <input type="text" class="commentInput col-md-8 col-lg-8 col-sm-8 col-lg-offset-1" placeholder="What" ng-model="newThing">
                <!-- <span class="input-group-btn"> -->
                  <button type="submit" class="commentSubmit btn" rel="{{game.event_id}}" ng-click="addThing(newThing, game.event_id)">Add!</button>
                <!-- </span> -->
              <!-- </p> -->
            </form>
            <!-- comments -->
            <ul class="comments nav col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in awesomeThings | filter : {game: game.event_id} : true">
              <li>{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></li>
            </ul>

          </div>
        </div>
          </div>
        </ul>

      </div>
    </div>


</div>
